@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
	background-color: #162402;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}

.book-suggestion {
	background-color: #655e35;
	color: white;
	float: left;
}

button {
	background-color: #ac372b;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}
	
.book-recs {
  float: right;
  background-color: #f7c7c7;
  color: black;
  position: fixed;
  right: 0;
  width: 600px;         
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word; 
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}


#book-table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {
	background-color: #d8f4f6;
	color: black;
}
